<!-- <p>fils works!
    <ng-content></ng-content>
</p> -->

<!-- <li>I am the  {{ordre}} son and i'm from {{villeNaissance}}</li> -->

<h6>{{nom}}</h6>
<input type="number" name="note" [(ngModel)]=note>
<button (click)="send()" [disabled]="buttonStatus">
    Send
</button>