<app-navbar></app-navbar>
<span>{{title}} app is running!</span>
<img [src]="imgUrl">
<button (click)="onClick($event)">ok</button>
<br>
<input type="text" [(ngModel)]="name"/>
<p>{{name}}</p>
<br>    
<app-pere></app-pere>
<app-footer></app-footer>
<router-outlet></router-outlet>
